.Rproj.user
.Rhistory
.RData
.DS_Store
R/RANN/*
R/ann_1.1.2/*
data/*
Papers/*
gliederung/*.pdf
ausarbeitung/*.pdf
ausarbeitung/*.aux
ausarbeitung/*.log
ausarbeitung/*.blg
ausarbeitung/*.bbl
ausarbeitung/*.sty
ausarbeitung/*.cls
ausarbeitung/*.dem
ausarbeitung/*.dvi
ausarbeitung/*.ind
ausarbeitung/*.bst
ausarbeitung/*.doc
*.tar.gz
*.un~
*.o
*.so
